<div id="emoticon">
    <div class="section_title">
        <h2>Happy Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⊂◉‿◉つ">⊂◉‿◉つ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="✿◕ ‿ ◕✿">✿◕ ‿ ◕✿</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="◎[▪‿▪]◎">◎[▪‿▪]◎</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="☆(❁‿❁)☆">☆(❁‿❁)☆</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(✿◠‿◠) ">(✿◠‿◠) </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="≧◉◡◉≦">≧◉◡◉≦</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="≧◠‿◠≦">≧◠‿◠≦</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="٩(˘◡˘)۶">٩(˘◡˘)۶</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(^)o(^)">(^)o(^)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（*^_^*）">（*^_^*）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="( ͡° ͜ʖ ͡°)">( ͡° ͜ʖ ͡°)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┑(￣▽￣)┍">┑(￣▽￣)┍</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ლ(╹◡╹ლ)">ლ(╹◡╹ლ)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o(∩_∩)o">o(∩_∩)o</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ʘ‿ʘ">ʘ‿ʘ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(•ิ‿•ิ)">(•ิ‿•ิ)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（⌒▽⌒）">（⌒▽⌒）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(◠‿◠)">(◠‿◠)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="≖‿≖">≖‿≖</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(◕‿◕)">(◕‿◕)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ಥ‿ಥ">ಥ‿ಥ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(●⌒∇⌒●)">(●⌒∇⌒●)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(❁´◡`❁)">(❁´◡`❁)</button>
    </div>
    <div class="section_title">
        <h2>Love Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♥‿♥">♥‿♥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♥╣[-_-]╠♥">♥╣[-_-]╠♥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="★~(◠‿◕✿)">★~(◠‿◕✿)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="( ･_･)♡">( ･_･)♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="★~(◡﹏◕✿)">★~(◡﹏◕✿)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(●'◡'●)ﾉ♥">(●'◡'●)ﾉ♥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(。･ω･｡)ﾉ♡">(。･ω･｡)ﾉ♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(●´□`)♡">(●´□`)♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´▽｀).。ｏ♡">(´▽｀).。ｏ♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(。♡‿♡。)">(。♡‿♡。)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(o⌒．⌒o)">(o⌒．⌒o)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヽ(愛´∀｀愛)ノ">ヽ(愛´∀｀愛)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♡o。.(✿ฺ。✿ฺ)">♡o。.(✿ฺ。✿ฺ)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♡＾▽＾♡">♡＾▽＾♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ღ˘⌣˘ღ)">(ღ˘⌣˘ღ)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="-`ღ´-">-`ღ´-</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="くろ">くろ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="☜♡☞">☜♡☞</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="웃❤유">웃❤유</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ҳ̸Ҳ̸ҳ">ҳ̸Ҳ̸ҳ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="{♥‿♥}">{♥‿♥}</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[̲̅ə̲̅٨̲̅٥̲̅٦̲̅]">[̲̅ə̲̅٨̲̅٥̲̅٦̲̅]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᶫᵒᵛᵉᵧₒᵤ">ᶫᵒᵛᵉᵧₒᵤ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ℓ٥ﻻ ﻉ√٥υ">ℓ٥ﻻ ﻉ√٥υ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ن٥ﻻ ﻉ√٥ﺎ ٱ">ن٥ﻻ ﻉ√٥ﺎ ٱ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ℐɕℎ ℒ℩ℯɓℯ ɗ℩ɕℎ">ℐɕℎ ℒ℩ℯɓℯ ɗ℩ɕℎ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ἶƙ հօմ νმղ ʝօմ">ἶƙ հօմ νმղ ʝօմ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="»-(¯`·.·´¯)-&gt;">»-(¯`·.·´¯)-&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┣┓웃┏♨❤♨┑유┏┥">┣┓웃┏♨❤♨┑유┏┥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(* ˘⌣˘)◞[_]♥[_]ヽ(•‿• )">(* ˘⌣˘)◞[_]♥[_]ヽ(•‿• )</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="( ＾◡＾)っ✂❤ ">( ＾◡＾)っ✂❤ </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(Ɔ ˘⌣˘)♥(˘⌣˘ C) ">(Ɔ ˘⌣˘)♥(˘⌣˘ C) </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(Ɔ ˘⌣˘)˘⌣˘ C) ">(Ɔ ˘⌣˘)˘⌣˘ C) </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ɔˆ ³(ˆ⌣ˆc) ">(ɔˆ ³(ˆ⌣ˆc) </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(乂ღ˘⌣˘)ノ♥ヽ(ˆ⌣ˆ)ヾ">(乂ღ˘⌣˘)ノ♥ヽ(ˆ⌣ˆ)ヾ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ღ˘⌣˘)♥ ℒ♡ⓥℯ ㄚ♡ⓤ">(ღ˘⌣˘)♥ ℒ♡ⓥℯ ㄚ♡ⓤ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="▂▃▄▅▆▇█▓▒░LoveYou░▒▓█▇▆▅▄▃▂">▂▃▄▅▆▇█▓▒░LoveYou░▒▓█▇▆▅▄▃▂</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="❤">❤</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♡">♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="❥">❥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♥">♥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="➳♥">➳♥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="❣">❣</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="წ">წ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ღ">ღ</button>
    </div>
    <div class="section_title">
        <h2>Sing &amp; Music Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="|̲̅̅●̲̅̅|̲̅̅=̲̅̅|̲̅̅●̲̅̅|">|̲̅̅●̲̅̅|̲̅̅=̲̅̅|̲̅̅●̲̅̅|</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♪┏(°.°)┛">♪┏(°.°)┛</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ιllιlı.">ιllιlı.</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="☊">☊</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="d[-_-]b">d[-_-]b</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♫♪.ılılıll|̲̅̅●̲̅̅|̲̅̅=̲̅̅|̲̅̅●̲̅̅|llılılı.♫♪">♫♪.ılılıll|̲̅̅●̲̅̅|̲̅̅=̲̅̅|̲̅̅●̲̅̅|llılılı.♫♪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ↂ■■ↂ]">[ↂ■■ↂ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="|[●▪▪●]|">|[●▪▪●]|</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="{ o }==(::)">{ o }==(::)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="{ o }===(:::)">{ o }===(:::)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="c====(=#O| )">c====(=#O| )</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="-=iii=&lt;()">-=iii=&lt;()</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o--|||---&lt;|">o--|||---&lt;|</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="இwஇ">இwஇ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＾Ｏ＾☆♪">（＾Ｏ＾☆♪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´▽｀)ノ♪">(´▽｀)ノ♪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´△｀)♪">(´△｀)♪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヾ(´ρ｀)〃">ヾ(´ρ｀)〃</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ﾉ´▽｀)ﾉ♪">(ﾉ´▽｀)ﾉ♪</button>
    </div>
    <div class="section_title">
        <h2>Animals Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˁ˚ᴥ˚ˀ">ˁ˚ᴥ˚ˀ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ฅ^•ﻌ•^ฅ">ฅ^•ﻌ•^ฅ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＾･ｪ･＾">＾･ｪ･＾</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＾･ꀾ･＾">＾･ꀾ･＾</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="Ƹ̵̡Ӝ̵̨̄Ʒ">Ƹ̵̡Ӝ̵̨̄Ʒ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ੳੴ">ੳੴ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ƹ̵̡ӝ̵̨̄ʒ">ƹ̵̡ӝ̵̨̄ʒ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="εϊз">εϊз</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ஐ">ஐ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ൠ">ൠ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="&gt;&lt;(((('&gt;">&gt;&lt;(((('&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╶᚜᚜᚜᚜╴">╶᚜᚜᚜᚜╴</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="¸.·´¯`·.´¯`·.¸¸.·´¯`·.¸&gt;&lt;(((º&gt;">¸.·´¯`·.´¯`·.¸¸.·´¯`·.¸&gt;&lt;(((º&gt;</button>
    </div>
    <div class="section_title">
        <h2>Flag Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[☾★ ]">[☾★ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ ⚫ ]">[ ⚫ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[╬═]">[╬═]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[══]">[══]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[☰☰]">[☰☰]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[&gt;─]">[&gt;─]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ ✽ ]">[ ✽ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ ✡ ]">[ ✡ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ ★ ]">[ ★ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ ✚ ]">[ ✚ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[╳]">[╳]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[╱]">[╱]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[ ̋ ☯ ̏ ]">[ ̋ ☯ ̏ ]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[-◓-]">[-◓-]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[☭  ]">[☭ ]</button>
    </div>
    <div class="section_title">
        <h2>New Year Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="Ձ٥۫١7  - ۫в۪۰۫є۪۰۫ѕ۪۰۫т۪۰۫ω۪۰۫ι۪۰۫ѕ۪۰۫н۪۰۫є۪۰۫ѕ۪۰ -  Ձ٥۫١Ց">Ձ٥۫١7 - ۫в۪۰۫є۪۰۫ѕ۪۰۫т۪۰۫ω۪۰۫ι۪۰۫ѕ۪۰۫н۪۰۫є۪۰۫ѕ۪۰ - Ձ٥۫١Ց</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="²⁰¹⁷  ҉    ----ۜะะะۣۨ&gt; [text] &lt; ۣۨۨะะะۜ---- ҉  ²⁰¹⁸">²⁰¹⁷ ҉ ----ۜะะะۣۨ&gt; [text] &lt; ۣۨۨะะะۜ---- ҉ ²⁰¹⁸</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="҉  ̡ ۫  Ձ٥۫١7 ̡*۰ Ձ٥۫١Ց ۪ ҉   ۫۰̡´">҉ ̡ ۫ Ձ٥۫١7 ̡*۰ Ձ٥۫١Ց ۪ ҉ ۫۰̡´</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="۪۫Ձ۫۰๏۫۰١۪7۰ ۪ ۫ вєѕт ωιѕнєѕ  ۪۫Ձ۫۰๏۫۰١۪Ց ۪ ۫">۪۫Ձ۫۰๏۫۰١۪7۰ ۪ ۫ вєѕт ωιѕнєѕ ۪۫Ձ۫۰๏۫۰١۪Ց ۪ ۫</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="۰۪۫ ۪۫☃۰۪۫ ۪۫">۰۪۫ ۪۫☃۰۪۫ ۪۫</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="----ۜะะะۣۨ&gt;  &lt; ۣۨۨะะะۜ----">----ۜะะะۣۨ&gt; &lt; ۣۨۨะะะۜ----</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="꧁ HAPPY NEW YEAR ꧂ ">꧁ HAPPY NEW YEAR ꧂ </button>
    </div>
    <div class="section_title">
        <h2>Weapon Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="/̵͇̿̿/'̿̿ ̿̿ ̿̿ ">/̵͇̿̿/'̿̿ ̿̿ ̿̿ </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="︻╦̵̵͇̿̿̿̿╤─── ">︻╦̵̵͇̿̿̿̿╤─── </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="=ε︻╦̵̵͇̿̿̿̿ ╤───">=ε︻╦̵̵͇̿̿̿̿ ╤───</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="───╤ ̵̵͇̿̿̿̿╦︻з=">───╤ ̵̵͇̿̿̿̿╦︻з=</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="︻デ═一">︻デ═一</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╾━╤デ╦︻">╾━╤デ╦︻</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="︻╦╤─">︻╦╤─</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="¯¯̿̿¯̿̿'̿̿̿̿̿̿̿'̿̿'̿̿̿̿̿'̿̿̿)͇̿̿)̿̿̿̿ '̿̿̿̿̿̿\̵͇̿̿\">¯¯̿̿¯̿̿'̿̿̿̿̿̿̿'̿̿'̿̿̿̿̿'̿̿̿)͇̿̿)̿̿̿̿ '̿̿̿̿̿̿\̵͇̿̿\</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(⌐■_■)--︻╦╤─">(⌐■_■)--︻╦╤─</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="̿ ̿̿'̿̿\̵͇̿̿\=(•̪●)=/̵͇̿̿/'̿̿ ̿ ̿">̿ ̿̿'̿̿\̵͇̿̿\=(•̪●)=/̵͇̿̿/'̿̿ ̿ ̿</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text=" ̿̿̿ ̿' ̿'\̵͇̿̿\з=(•̪●)=ε/̵͇̿̿/'̿'̿ ̿ "> ̿̿̿ ̿' ̿'\̵͇̿̿\з=(•̪●)=ε/̵͇̿̿/'̿'̿ ̿ </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="̿' ̿'\̵͇̿̿\з=(◕_◕)=ε/̵͇̿̿/'̿'̿ ̿">̿' ̿'\̵͇̿̿\з=(◕_◕)=ε/̵͇̿̿/'̿'̿ ̿</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="¯¯̿̿¯̿̿'̿̿̿̿̿̿̿'̿̿'̿̿̿̿̿'̿̿̿)͇̿̿)̿̿̿̿ '̿̿̿̿̿̿\̵͇̿̿\=(•̪̀●́)=o/̵͇̿̿/'̿̿ ̿ ̿̿">¯¯̿̿¯̿̿'̿̿̿̿̿̿̿'̿̿'̿̿̿̿̿'̿̿̿)͇̿̿)̿̿̿̿ '̿̿̿̿̿̿\̵͇̿̿\=(•̪̀●́)=o/̵͇̿̿/'̿̿ ̿ ̿̿</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(╯°□°)--︻╦╤─ - - -">(╯°□°)--︻╦╤─ - - -</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(⌐■_■)--︻╦╤─ - - -">(⌐■_■)--︻╦╤─ - - -</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="▬▬ι═══════ﺤ">▬▬ι═══════ﺤ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="-═══════ι▬▬">-═══════ι▬▬</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="̿' ̿'\̵͇̿̿\з=( ͡ °_̯͡° )=ε/̵͇̿̿/'̿'̿ ̿ ">̿' ̿'\̵͇̿̿\з=( ͡ °_̯͡° )=ε/̵͇̿̿/'̿'̿ ̿ </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o()xxxx[{::::::::::::::::::::::::::::::::::&gt;">o()xxxx[{::::::::::::::::::::::::::::::::::&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="cxxx{}::::::::::::::::::::::::::::&gt;">cxxx{}::::::::::::::::::::::::::::&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="cxxx{くろ}ҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳ­ҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳ❥">cxxx{くろ}ҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳ­ҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳҳ̸Ҳ̸ҳ❥</button>
    </div>
    <div class="section_title">
        <h2>Sad Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text=" (︶︹︺)"> (︶︹︺)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(◕︿◕✿)">(◕︿◕✿)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(•̪●)">(•̪●)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(◕﹏◕✿)">(◕﹏◕✿)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(◕︵◕)">(◕︵◕)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text=":-(">:-(</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（︶^︶）">（︶^︶）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（┬＿┬）">（┬＿┬）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╥﹏╥">╥﹏╥</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(〒︿〒﹀">(〒︿〒﹀</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⊙︿⊙">⊙︿⊙</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╯︿╰">╯︿╰</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╯﹏╰">╯﹏╰</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˇ︿ˇ">ˇ︿ˇ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˇ﹏ˇ">ˇ﹏ˇ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⊙﹏⊙">⊙﹏⊙</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(~_~)">(~_~)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="●︿●">●︿●</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´◔‸◔`)">(´◔‸◔`)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(,Ծ‸Ծ,)">(,Ծ‸Ծ,)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="::>_<::">::&gt;_&lt;::</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)">(´°̥̥̥̥̥̥̥̥ω°̥̥̥̥̥̥̥̥｀)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(╯︵╰,)">(╯︵╰,)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⊙︿⊙">⊙︿⊙</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(个_个)">(个_个)</button>
    </div>
    <div class="section_title">
        <h2>Dance Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(:ㄏ■ Д ■ :)ㄏ">(:ㄏ■ Д ■ :)ㄏ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♪ヽ( ⌒o⌒)人(⌒-⌒ )v ♪">♪ヽ( ⌒o⌒)人(⌒-⌒ )v ♪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᕕ༼✪ل͜✪༽ᕗ">ᕕ༼✪ل͜✪༽ᕗ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヽ(⌐■_■)ノ♪♬">ヽ(⌐■_■)ノ♪♬</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="└(՞▃՞ └)">└(՞▃՞ └)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╭(′▽`)╭(′▽`)╯">╭(′▽`)╭(′▽`)╯</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="～(￣▽￣～)(～￣▽￣)～">～(￣▽￣～)(～￣▽￣)～</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ㄟ(▔〔▔ㄟ)(╯▔〔▔)╯">ㄟ(▔〔▔ㄟ)(╯▔〔▔)╯</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(～o▔▽▔)～oo～(▔▽▔o～)">(～o▔▽▔)～oo～(▔▽▔o～)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヘ(^_^ヘ)">ヘ(^_^ヘ)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ノ^_^)ノ">(ノ^_^)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヾ(^">ヾ(^</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="^ゞ">^ゞ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ノ‥)ノ">(ノ‥)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ﾉ^ω^)ﾉﾟ">(ﾉ^ω^)ﾉﾟ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="。(⌒∇⌒。)">。(⌒∇⌒。)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┗(｀ー´)┓">┗(｀ー´)┓</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┏(｀ー´)┛">┏(｀ー´)┛</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┗(＾0＾)┓">┗(＾0＾)┓</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┏(＾0＾)┛">┏(＾0＾)┛</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="┌（★ｏ☆）┘">┌（★ｏ☆）┘</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♪(┌・。・)┌">♪(┌・。・)┌</button>
    </div>
    <div class="section_title">
        <h2>Scared Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ʕ⊙ᴥ⊙ʔ">ʕ⊙ᴥ⊙ʔ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⋋▐ ” ⊙ ~ ⊙ ” ▐⋌">⋋▐ ” ⊙ ~ ⊙ ” ▐⋌</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⋋⁞ ◔ ﹏ ◔ ⁞⋌">⋋⁞ ◔ ﹏ ◔ ⁞⋌</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="/╲/╭〳 ര ʖ̯ ര 〵╮/╱﻿">/╲/╭〳 ര ʖ̯ ര 〵╮/╱﻿</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᕕ(◉Д◉ )ᕗ">ᕕ(◉Д◉ )ᕗ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(‵﹏′)">(‵﹏′)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(°△°|||)">(°△°|||)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⊙﹏⊙">⊙﹏⊙</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="≡￣﹏￣≡">≡￣﹏￣≡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="∩﹏∩">∩﹏∩</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="●﹏●">●﹏●</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（>﹏<）">（&gt;﹏&lt;）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╯﹏╰">╯﹏╰</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヽ(￣д￣;)ノ">ヽ(￣д￣;)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ミ●﹏☉ミ">ミ●﹏☉ミ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(⊙…⊙,)">(⊙…⊙,)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(-’๏_๏’-)">(-’๏_๏’-)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´△｀)">(´△｀)</button>
    </div>
    <div class="section_title">
        <h2>Surprised Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╰། ◉ ◯ ◉ །╯">╰། ◉ ◯ ◉ །╯</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ԅ⁞ ◑ ₒ ◑ ⁞ᓄ">ԅ⁞ ◑ ₒ ◑ ⁞ᓄ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ʘᗩʘ’)">(ʘᗩʘ’)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="༼⁰o⁰；༽">༼⁰o⁰；༽</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(⊙ˍ⊙)">(⊙ˍ⊙)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⊙０⊙">⊙０⊙</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(⊙＿⊙)">(⊙＿⊙)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(@口@)">(@口@)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(°">(°</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ο°)">ο°)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o_O">o_O</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(@[]@!!)">(@[]@!!)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(꒪Д꒪)ノ">(꒪Д꒪)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（￣□￣；）">（￣□￣；）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="w(°ｏ°)w">w(°ｏ°)w</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="l(・o・)」">l(・o・)」</button>
    </div>
    <div class="section_title">
        <h2>Failure Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="Y(^_^)Y">Y(^_^)Y</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[]~(￣▽￣)~*">[]~(￣▽￣)~*</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╮(￣▽￣)╭">╮(￣▽￣)╭</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＼（￣︶￣）／">＼（￣︶￣）／</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╰（￣▽￣）╭">╰（￣▽￣）╭</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＼(◎o◎)／！">＼(◎o◎)／！</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="\(▔▽▔)/">\(▔▽▔)/</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="\^o^/">\^o^/</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="~^o^~">~^o^~</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(＾-＾)＿日)۶">(＾-＾)＿日)۶</button>
    </div>
    <div class="section_title">
        <h2>Evil Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（︶︿︶）＝凸">（︶︿︶）＝凸</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╭∩╮（￣▽￣）╭∩╮">╭∩╮（￣▽￣）╭∩╮</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(╬￣皿￣)凸">(╬￣皿￣)凸</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(╬▔＾▔)凸">(╬▔＾▔)凸</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(╬▔〔▔)凸">(╬▔〔▔)凸</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="凸(｀0´)凸">凸(｀0´)凸</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ψ(｀∇´)ψ">ψ(｀∇´)ψ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="|｀Д´|">|｀Д´|</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ψ(*｀ー´)ψ">ψ(*｀ー´)ψ</button>
    </div>
    <div class="section_title">
        <h2>Smug Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="Y(^_^)Y">Y(^_^)Y</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="<(￣︶￣)>">&lt;(￣︶￣)&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣ˇ￣)">(￣ˇ￣)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╮(╯▽╰)╭">╮(╯▽╰)╭</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣▽￣)">(￣▽￣)"</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(＠￣︶￣＠)">(＠￣︶￣＠)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o(￣ˇ￣)o">o(￣ˇ￣)o</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╮(￣▽￣)╭">╮(￣▽￣")╭</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ー(￣～￣)ξ">ー(￣～￣)ξ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（￣へ￣）">（￣へ￣）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣ェ￣;)">(￣ェ￣;)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o(´^｀)o">o(´^｀)o</button>
    </div>
    <div class="section_title">
        <h2>Number Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⁰¹²³⁴⁵⁶⁷⁸⁹">⁰¹²³⁴⁵⁶⁷⁸⁹</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="₀₁₂₃₄₅₆₇₈₉₀">₀₁₂₃₄₅₆₇₈₉₀</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="0īƻǮ4567Ȣ9">0īƻǮ4567Ȣ9</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="68L9ʢhƐՇ⇂0">68L9ʢhƐՇ⇂0</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="θΙ2ЭЧƼбלȣף">θΙ2ЭЧƼбלȣף</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᅙ1ᆯ3456ᆨ89">ᅙ1ᆯ3456ᆨ89</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="01ԶՅՎ56ԴՑԳ">01ԶՅՎ56ԴՑԳ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="૦١Ձ૩મƼ67Ց୨">૦١Ձ૩મƼ67Ց୨</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="０１２３４５６７８９">０１２３４５６７８９</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⒪⑴⑵⑶⑷⑸⑹⑺⑻⑼">⒪⑴⑵⑶⑷⑸⑹⑺⑻⑼</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⓪①②③④⑤⑥⑦⑧⑨">⓪①②③④⑤⑥⑦⑧⑨</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⓿❶ ❷ ❸ ❹ ❺ ❻ ❼ ❽ ❾ ">⓿❶ ❷ ❸ ❹ ❺ ❻ ❼ ❽ ❾ </button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[̲̅0̲̅][̲̅1̲̅][̲̅2̲̅][̲̅3̲̅][̲̅4̲̅][̲̅5̲̅][̲̅6̲̅][̲̅7̲̅][̲̅8̲̅][̲̅9̲̅]">[̲̅0̲̅][̲̅1̲̅][̲̅2̲̅][̲̅3̲̅][̲̅4̲̅][̲̅5̲̅][̲̅6̲̅][̲̅7̲̅][̲̅8̲̅][̲̅9̲̅]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="⅟ ½ ⅓ ⅔ ¼ ¾ ⅕ ⅖ ⅗ ⅘ ⅙ ⅚ ⅛ ⅜ ⅝ ⅞">⅟ ½ ⅓ ⅔ ¼ ¾ ⅕ ⅖ ⅗ ⅘ ⅙ ⅚ ⅛ ⅜ ⅝ ⅞</button>
    </div>
    <div class="section_title">
        <h2>Sorry Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="･ﾟ･δояяу･ﾟ･(○ﾉдﾉ)">･ﾟ･δояяу･ﾟ･(○ﾉдﾉ)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="๑•́ㅿ•̀๑) ᔆᵒʳʳᵞ">๑•́ㅿ•̀๑) ᔆᵒʳʳᵞ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ʎɹɹoS ʎɹɹos’ɥO ¨●౹౽‥ㆀ">ʎɹɹoS ʎɹɹos’ɥO ¨●౹౽‥ㆀ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="〈（＿。＿）〉">〈（＿。＿）〉</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="∪▂∪">∪▂∪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="м(_.._)м">м(_.._)м</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="м(._.)м">м(._.)м</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ｍ（．＿．）ｍ">ｍ（．＿．）ｍ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(シ_,_)シ">(シ_,_)シ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="<(_=_)>">&lt;(_=_)&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＜(。_。)＞">&lt;(。_。)&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="м(￢0￢)м">м(￢0￢)м</button>
    </div>
    <div class="section_title">
        <h2>Confused Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="乁། ˵ ◕ – ◕ ˵ །ㄏ">乁། ˵ ◕ – ◕ ˵ །ㄏ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ლ༼ ▀̿ Ĺ̯ ▀̿ ლ༽">ლ༼ ▀̿ Ĺ̯ ▀̿ ლ༽</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="¯_| ✖ 〜 ✖ |_/¯">¯_| ✖ 〜 ✖ |_/¯</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="乁║ ˙ 益 ˙ ║ㄏ">乁║ ˙ 益 ˙ ║ㄏ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(→_→)">(→_→)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="◐ˍ◑">◐ˍ◑</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(@_@)">(@_@</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˋ(′～`)ˊ">ˋ(′～`)ˊ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´･_･`)">(´･_･`)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(◎_◎;)">(◎_◎;)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(・_・ヾ">(・_・ヾ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(-_-)ゞ゛">(-_-)ゞ゛</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(‘◇’)?">(‘◇’)?</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="【・ヘ・?】">【・ヘ・?】</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="【・_・?】">【・_・?】</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ಠ_ರೃ">ಠ_ರೃ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o(´^｀)o">o(´^｀)o</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="٩(͡๏̯͡๏">٩(͡๏̯͡๏</button>
    </div>
    <div class="section_title">
        <h2>Shy Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(＠￣ー￣＠)">(＠￣ー￣＠)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(*￣∇￣*)">(*￣∇￣*)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＃￣▽￣＃）">（＃￣▽￣＃）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ー_ー)!!">(ー_ー)!!</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="✿◡‿◡">✿◡‿◡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="<(▰˘◡˘▰)>">&lt;(▰˘◡˘▰)&gt;</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="~@^_^@~">~@^_^@~</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="#^_^#">#^_^#</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(⌒_⌒;)">(⌒_⌒;)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(*´ｪ｀*)">(*´ｪ｀*)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(╯ಊ╰)">(╯ಊ╰)</button>
    </div>
    <div class="section_title">
        <h2>Angry Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="୧( ಠ Д ಠ )୨">୧( ಠ Д ಠ )୨</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╚═| ~ ಠ ₒ ಠ ~ |═╝">╚═| ~ ಠ ₒ ಠ ~ |═╝</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᕕ(˵•̀෴•́˵)ᕗ">ᕕ(˵•̀෴•́˵)ᕗ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(つ◉益◉)つ">(つ◉益◉)つ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(＞﹏＜)">(＞﹏＜)</button>
        {{!--
        <button class="btn btn-default btn-lg cs" data-clipboard-text="{{{(>_<)}}}">{{{(&gt;_&lt;)}}}</button> --}}
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o(><)o">o(&gt;&lt;)o</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˋˍˊ">ˋˍˊ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˋ０ˊ">ˋ０ˊ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＞ˍ＜">＞ˍ＜</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╰（‵□′）╯">╰（‵□′）╯</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＞д＜）">（＞д＜）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="o(-`д´-。)">o(-`д´-。)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(>_<)">(&gt;_&lt;)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（╯‵□′）╯︵┴─┴">（╯‵□′）╯︵┴─┴</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᕙ(⇀‸↼‶)ᕗ">ᕙ(⇀‸↼‶)ᕗ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ᕦ(ò_óˇ)ᕤ">ᕦ(ò_óˇ)ᕤ</button>
    </div>
    <div class="section_title">
        <h2>Wink Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(^_-)">(^_-)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(^_-)-☆">(^_-)-☆</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="O_o">O_o</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＾＿－）">（＾＿－）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(－ｏ⌒)">(－ｏ⌒)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＾＿−）">（＾＿−）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(^_-)">(^_-)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="๏[-ิ_•ิ]๏">๏[-ิ_•ิ]๏</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＾＿・）">（＾＿・）</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="（＾＿－）≡★">（＾＿－）≡★</button>
    </div>
    <div class="section_title">
        <h2>Tired Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣﹏￣)">(￣﹏￣)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣0￣)y">(￣0￣)y</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="￣０￣">￣０￣</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="╯ˍ╰">╯ˍ╰</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(-_-)zzz">(-_-)zzz</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(～o～)~zZ">(～o～)~zZ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="Σ(￣。￣ノ)ノ">Σ(￣。￣ノ)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(*´ο`*)">(*´ο`*)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＼（´Ｏ｀）／">＼（´Ｏ｀）／</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="［(－－)］zzz">［(－－)］zzz</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヾ(。￣□￣)ﾂ">ヾ(。￣□￣)ﾂ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(∪。∪)。。。zzz">(∪。∪)。。。zzz</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ᴗ˳ᴗ)">(ᴗ˳ᴗ)</button>
    </div>
    <div class="section_title">
        <h2>Kiss Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣ε(#￣)">(￣ε(#￣)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ˋεˊ">ˋεˊ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣ε￣;)">(￣ε￣;)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(๑´ڡ`๑)">(๑´ڡ`๑)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(๑¯ิε¯ิ๑)">(๑¯ิε¯ิ๑)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="︶ε╰✿">︶ε╰✿</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣ε´￣)">(￣ε´￣)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´ε｀)♡">(´ε｀)♡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="～(^з^)-☆">～(^з^)-☆</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(ΘεΘ;)">(ΘεΘ;)</button>
    </div>
    <div class="section_title">
        <h2>Bye Emoticon Text</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヾ(ﾟεÅ) βyё βyё☆彡">ヾ(ﾟεÅ) βyё βyё☆彡</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="^(*･｡･)ﾉ~~~βｙё　βｙё♪">^(*･｡･)ﾉ~~~βｙё　βｙё♪</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="★ВУёヽ(‘∀`○)ﾉВУё☆">★ВУёヽ(‘∀`○)ﾉВУё☆</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヾ(＾∇＾)">ヾ(＾∇＾)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(´▽`)ﾉ">(´▽`)ﾉ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(・_・)ノ">(・_・)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(.^_^)／">(.^_^)／</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣▽￣)ノ">(￣▽￣)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＼(￣o￣)">＼(￣o￣)</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ー(´▽`)ﾉ">ー(´▽`)ﾉ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(^-^*)/">(^-^*)/</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="☆ﾐ(o*･ω･)ﾉ">☆ﾐ(o*･ω･)ﾉ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ヾ(＠⌒ー⌒＠)ノ">ヾ(＠⌒ー⌒＠)ノ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="(￣∠￣)ﾉ">(￣∠￣)ﾉ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="＼(-_-)">＼(-_-)</button>
    </div>
    <div class="section_title">
        <h2>Other Text Picture</h2>
    </div>
    <div class="section_content">
        <button class="btn btn-default btn-lg cs" data-clipboard-text="向">向</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[♥]]] [♦]]] [♣]]] [♠]]]">[♥]]] [♦]]] [♣]]] [♠]]]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="♞▀▄▀▄♝▀▄">♞▀▄▀▄♝▀▄</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="║▌║█║▌│║▌║▌█">║▌║█║▌│║▌║▌█</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="◄███▓▒░░">◄███▓▒░░</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="░░▒▓███►">░░▒▓███►</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="【★】">【★】</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[̲̅$̲̅(̲̅ιοο̲̅)̲̅$̲̅]">[̲̅$̲̅(̲̅ιοο̲̅)̲̅$̲̅]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[̲̅$̲̅(̲̅∞)̲̅$̲̅]">[̲̅$̲̅(̲̅∞)̲̅$̲̅]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="☜☆☞">☜☆☞</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="༒">༒</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="۩">۩</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="๑۩۞۩๑">๑۩۞۩๑</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="✈">✈</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="‛¯¯٭٭¯¯(▫▫)¯¯٭٭¯¯’">‛¯¯٭٭¯¯(▫▫)¯¯٭٭¯¯’</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="Ѽ">Ѽ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="~•">~•</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="ဗီူဗီူ ဗီူဗီူ">ဗီူဗီူ ဗီူဗီူ</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="↠↠↠↠↠↠↠↠↠">↠↠↠↠↠↠↠↠↠</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="[-■¤■-]">[-■¤■-]</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="●▬▬▬▬๑۩۩๑▬▬▬▬▬●">●▬▬▬▬๑۩۩๑▬▬▬▬▬●</button>
        <button class="btn btn-default btn-lg cs" data-clipboard-text="█▬█ █▄█ █▬█ █▄█">█▬█ █▄█ █▬█ █▄█</button>
    </div>
</div>