<footer>
    <div class="wrapper">
        <p>Symbols Support © 2018</p>
        <div class="push"></div>
    </div>
    <div class="footer">
        <p>Developed by
            <a href="/">Symbols Support</a>
        </p>
    </div>
</footer>